#myHeader {
    background: blue;
    background: url('/assets/MtBakerDistributionShort.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30vw;
}
body {    
    min-height: 100vh;
}
main {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    position: relative;
    min-height: 100%;
}
article {
    font-size: 1.25rem;
    padding-bottom: 4rem;
}
footer {
    width: 100%;
    text-align: center;

    position: absolute;
    bottom: 5px;
    //height: 4rem;
}
.headline {font-size: 7vw}
@media (min-width: 700px) {
    #myHeader {
        background: url("/assets/MtBakerDistributionLong.png") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 15.6vw;        
    }
    .headline {font-size: 4vw}
}
@media (min-width: 1000px) {
    .headline {font-size: 3vw}
}
